doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  meta(charset="utf-8")
  title Prototype

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('initialize');


body
  .container
    .logo HealthHackers
    a.join.button.button-colored(href="http://community.healthhackers.co") Join the Community


  .first_screen
      .slider
        .slide.first-slide(style="background-image: url(./images/hand.png)")
          .container
            .text
              h2 Together, we are the future of Health
              p Join influencers, health professionals, makers, technologists and creators of new health services.

              h3 An online community for…
              p New Product Ideas, Feedback & Collaboration
              p Smart Cities, Smart Homes, Smart Hospitals
              p Articles and Research
              p Technology
              p Health Service Design

        .slide.first-slide(style="background-image: url(./images/hand.png)")
          .container
            .text
              h2 Together, we are the future of Health
              p Join influencers, health professionals, makers, technologists and creators of new health services.

              h3 An online community for…
              p New Product Ideas, Feedback & Collaboration
              p Smart Cities, Smart Homes, Smart Hospitals
              p Articles and Research
              p Technology
              p Health Service Design

  .second_screen
    .members
      .members-title Featured Members

      .members-container
        .member
          //- img(src="./images/member-1.jpg")
        .member
          //- img(src="./images/member-1.jpg")
        .member
          //- img(src="./images/member-1.jpg")
        .member
          //- img(src="./images/member-1.jpg")
    .nuwe-sponsors
      .nuwe-sponsor
        .nuwe-sponsor-type Community Sponsor
        .nuwe-sponsor-logo
          a(href="#")
            img(src="./images/sponsor-1.png")
        .nuwe-sponsor-describtion
          | Nuwe is a developer platform for the rapid building of new health and wellness apps.


      .nuwe-sponsor
        .nuwe-sponsor-type Community Sponsor
        .nuwe-sponsor-logo
          a(href="#")
            img(src="./images/sponsor-1.png")
        .nuwe-sponsor-describtion
          | Nuwe is a developer platform for the rapid building of new health and wellness apps.




  .powered
    a(href="#")
      img(src="./images/forge.png")
      br
      | Forge Powered
